@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: #E0DFDD;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}


.controls {
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  z-index: 20;
}

.menus {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  z-index: 20;
}

.menus .container {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: #070707;
  visibility: collapse;
  corner-shape: squircle;
  display: none;
  opacity: 0;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s ease 0.3s, display 0.5s linear 1s;

  &.open {
    z-index: 3;
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s ease 0s, display 0.5s linear 0s;
  }
}

.menus .container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0 0 0;
  gap: 0.25rem;

  & .button {
    width: fit-content;
    height: fit-content;
    background-color: #222;
    padding: 0.5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    corner-shape: squircle;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #444;
    }

  }
}


.controls .buttons {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  & .button {
    width: fit-content;
    height: fit-content;
    background-color: #070707;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    corner-shape: squircle;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #111;
    }

    & img {
      width: 24px;
      height: 24px;
      transition: rotate 0.3s ease;
      transform-origin: center;
    }
  }
}


.titles p {
  font-size: 0.75rem;
  color: #eeeeee99;
  font-family: 'Inter';
  text-transform: capitalize;
}

.rows {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;


    .checkbox {
      display: flex;
      align-items: center;
      padding: 2px 2px;
      width: 38px;
      border-radius: 3rem;
      background-color: #333;
      cursor: pointer;

      transition: background-color 0.25s ease;

      &.enabled {
        background-color: #61c45f;

        & .dot {
          transform: translateX(110%);
        }
      }

      .dot {
        display: flex;
        height: 16px;
        width: 16px;
        border-radius: 20rem;
        background-color: #eee;
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      }
    }
  }
}

.row p {

  font-size: 0.8rem;
  color: #eee;
  font-family: 'Inter';
  text-transform: capitalize;
}

.row .select {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.2rem;

  /* background-color: #fff; */

}

.row .select .indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.25rem;
  border-radius: 0.3rem;
  corner-shape: squircle;

  p {
    font-size: 0.75rem;
    color: #eeeeee99;
    font-family: 'Inter';
    text-transform: capitalize;
  }
}

.row .select .button {
  width: 1.75rem;
  height: 1.75rem;
  background-color: #222;
  /* padding: 0.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* corner-shape: squircle; */
  cursor: pointer;
  transition: background-color 0.2s ease;

  font-size: 0.8rem;
  font-weight: 400;
  color: #eee;
  font-family: 'Inter';
  text-transform: capitalize;

  &:hover {
    background-color: #444;
  }
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.pin {
  position: absolute;
  width: clamp(0.1rem, 20%, 1rem);
  height: clamp(0.1rem, 20%, 1rem);
  background-color: #070707;
  border-radius: 50%;
  box-shadow: 0 0 8px #07070755;
  z-index: 10;
}



.hours-lines {
  width: 95vh;
  height: 95vh;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: rotateZ(-90deg);
  transition: opacity 0.3s ease, visibility 0s ease 0.3s;

  &.enabled {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s ease 0s;
  }

  .line {
    position: absolute;
    display: flex;
    transform-origin: center;
    transform: rotateZ(calc(var(--h-position) * (360 / 12) * 1deg)) translateX(44vh);

    width: 1.5rem;
    height: 1px;
    border-radius: 50rem;
    background-color: #999;

  }
}


.mins-lines {
  width: 95vh;
  height: 95vh;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: rotateZ(-90deg);

  transition: opacity 0.3s ease, visibility 0s ease 0.3s;

  &.enabled {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s ease 0s;
  }

  .line {
    position: absolute;
    display: flex;
    transform-origin: center;
    justify-content: center;
    align-items: center;
    transform: rotateZ(calc(var(--m-position) * (360 / 60) * 1deg)) translateX(45vh);
    width: 0.5rem;
    height: 1px;
    border-radius: 50rem;
    background-color: #99999977;

  }
}

.line {
  transition: background-color 0.25s ease;
}
.line.selected {
  background-color: #222;
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 3;

  & .arrow {
    position: absolute;
    display: flex;
    transform-origin: bottom;
    box-shadow: 0 0 6px #07070755;
    width: 6px;
    border-radius: 40% 40% 0 0;
    background-color: #070707;
    corner-shape: superellipse(-2.2);
    justify-content: center;
    align-items: end;
    transition: opacity 0.25s ease;
  }
}

.arrow {
  &#h {
    width: 8px;
    height: 28dvh;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }
  }

  &#m {
    height: 40dvh;
  }

  &#s {
    height: 44dvh;
    background-color: #db1f1f;
    width: 4px;

    &::before {
      content: " ";
      display: flex;
      flex-direction: column;
      position: absolute;
      font-size: 0;
      padding: 1rem;
      /* border-radius: 50%; */
      background-color: #db1f1f;
      translate: 0 50%;
      clip-path: circle(32% at center);
    }
  }
}




.loading-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100vw;
  height: 100dvh;
  background-color: #E0DFDD;
  transition: all 0.5s ease;
  opacity: 0;
  pointer-events: none;

  &.loading {
    pointer-events: all;
    opacity: 1;
  }

  .loading-icon {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 24px;
      height: 24px;
      animation-name: loading;
      animation-timing-function: linear;
      animation-duration: 0.9s;
      animation-iteration-count: infinite;
    }

    &.max {
      display: none;
    }
  }
}



@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}